#main{
  padding: 10px;
  margin: 10px;
  width: 100%;
  background-color: #dddddd;
  text-align: center;
}

#image{
  display: block;
  max-width: 100%;
  height: auto;

}
#image{
  width: 100%;
  text-align: center;
>>>>>>> 4d8c99ffaa885cf91d1e08bc9f48dad2abeaeb8c
}
